#menu {
  padding-top: 10px;
  padding-bottom: 160px;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
}
.menu_item {
  display: flex;
  flex: 1;
  margin: 16px;
  padding: 16px;
  border-color: #f01111;
  border-width: 5px;
  border-style: solid;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}
.menu_item:hover {
  color: black;
  background-color: red;
  border-color: purple;
}
.text {
  color: purple;
}
.scoreWrapper {
  display: flex;
  border-color: red;
  border-width: 4px;
  flex: 1;
  flex-direction: column;
  margin: 0;
  padding: 8px;
}
